<div class="container sandbox is-hidden-mobile" style="margin-top: 20vh;">
            <div class="tile is-ancestor">
                <div class="tile is-vertical is-6">
                    <div class="tile is-parent">
                        <article class="tile is-child notification is-white">
                            <div class="content level">
                                <div class="level-left">
                                    <div class="level-item">
                                        <figure>                            
                                            <img src="../static/img/apple.svg" width="200" alt="apple">
                                        </figure>
                                        <figure style="margin-top: -33px;">                            
                                            <img src="../static/img/play.svg" width="200" alt="google play">
                                        </figure> 
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification is-white">
                        <figure class="image is-64x64 social">                            
                            <img src="../static/img/instagrame-fonce.svg" alt="instagram">
                        </figure>
                        <figure class="image is-64x64 social">
                            <img src="../static/img/facebook-fonce.svg" alt="facebook">
                        </figure>
                        <figure class="image is-64x64 social">
                            <img src="../static/img/twitter-fonce.svg" alt="twitter">
                        </figure>
                    </article>
                </div>
            </div>
        </div>