{% extends 'layout.html' %}

{% block content %}
    
    <article class="section">
        <p class="subtitle">{{ _('CONDITIONS GÉNÉRALES')}}</p>
        <p class="content">
            <p><strong>{{ _('Article 1. Objet')}}</strong></p>
            <p><strong>{{ _('Le site Yes To Meet You se propose de mettre en contact des célibataires pour qu’ils puissent établir entre eux une relation franche et respectueuse et ce à travers des abonnements offrant des services gratuits et payants. Les droits et options d’utilisation peuvent varier selon le type d’abonnement, gratuit ou payant.')}}</strong></p>
            <p><strong>{{ _('Le site donne l’opportunité aux utilisateurs de s’offrir des cadeaux (chocolats, fleurs, invitations à diner…) via ses fournisseurs référencés.')}}</strong></p>
            <p>{{ _('Les présentes conditions de vente visent à définir les relations contractuelles entre Yes To Meet You et l’utilisateur et les conditions applicables à tout achat effectué par le biais du site internet Yes To Meet You. L’utilisation d’un service à travers le présent site implique une acceptation sans réserve des présentes conditions dont l’acheteur reconnaît avoir pris connaissance préalablement à son inscription.') }}</p>
            <p>{{ _('Yes To Meet You se réserve le droit de modifier à tout moment ces conditions de ventes pour raisons de toutes natures liées, soit à la Loi ou à l’amélioration du site jugées nécessaires')}}</p>
            <p><strong>{{ _('Article 2. Abonnements et services')}}</strong></p>
            <p>{{ _('Les abonnements et services proposés sont ceux qui figurent sur le site Yes To Meet You, Yes To Meet You se réserve le droit de modifier à tout moment l’offre d’abonnements et de services. Les abonnements seront reconduits automatiquement pour une durée équivalente à l’abonnement initial sauf autrement souhaité par le membre et signifié 8 jours avant la fin de l’échéance.')}}</p>
            <p><strong>{{ _('Article 3. Tarifs ')}}</strong></p>
            <p>{{ _('• Tarifs d\'activation:')}}</p>
            <p>{{ _('Paiement par carte :')}}</p>
            <table class="table is-narrow">
              <tr>
                <th>{{ _('Durée')}}</th>
                <th>{{ _('Prix Mensuel')}}</th>
                <th>{{ _('Pourcentage de remise')}}</th>
              </tr>
              <tr>
                <td>{{ _('Abonnement 1 mois')}}</td>
                <td>{{ _('39,90€')}}</td>
                <td>{{ _('0')}}%</td>
              </tr>
              <tr>
                <td>{{ _('Abonnement 3 mois')}}</td>
                <td>{{ _('27,90€')}}</td>
                <td>{{ _('30')}}%</td>
              </tr>
              <tr>
                <td>{{ _('Abonnement 6 mois')}}</td>
                <td>{{ _('19,90€')}}</td>
                <td>{{ _('50')}}%</td>
              </tr>
            </table>
            <p>{{ _('Les prix figurant sur le site sont exprimés en Euros (€) toutes taxes comprises (TTC) tenant compte de la TVA applicable au jour de la transaction. Tout changement du taux de la TVA pourra être répercuté sur le prix des produits. Yes To Meet You se réserve le droit de modifier ses prix à tout moment, étant toutefois entendu que le prix figurant sur le site le jour de la commande sera le seul applicable à l’acheteur.')}}</p>
            <p><strong>{{ _('Article 4. Cadeaux et modalités de paiement')}}</strong></p>
            <p>{{ _('Préalablement à tout achat  en ligne  sur le site de YES TO YOU d’un cadeau pour le ou la partenaire de son choix, l’utilisateur doit créer un compte sur le site Yes To Meet You. A chaque visite il devra s’identifier à l’aide de ses informations d’inscription. (Identifiant, mot de passe)')}}</p>
            <p>{{ _('Le site Yes To Meet You s’engage à tout mettre en œuvre pour fournir ses services dans les meilleures conditions.')}}</p>
            <p>{{ _('Dans le cas des cadeaux, si par impossible, le produit ne pouvait être délivré par nos partenaires habituels, Yes To Meet You s’engage à fournir un produit équivalent, aux mêmes conditions et dans les plus brefs délais.')}}</p>
            <p>{{ _('La confirmation d’une commande entraîne acceptation des présentes conditions de vente, la reconnaissance d’en avoir parfaite conscience et la renonciation à se prévaloir de ses propres conditions d’achat.')}}</p>
            <p>{{ _('Si l’acheteur souhaite contacter Yes To Meet You, il peut le faire par email à l’adresse suivante : info@yestomeetyou.com')}}</p>
            <p><strong>{{ _('Article 5. Rétractation')}}</strong></p>
            <p>{{ _('Pour les abonnements, l’utilisateur dispose d\'un délai légal à compter du paiement pour exercer son droit de rétractation. Il devra envoyer un e-mail de rétractation à l’adresse info@yestomeetyou.com en indiquant de façon claire son souhait de rétractation.')}}</p>
            <p><strong>{{ _('Article 6. Livraison')}}</strong></p>
            <p>{{ _('Les livraisons seront faites, dans les plus brefs délais, à l’adresse indiquée par les destinataires, adresse ne sera jamais transmise à l’expéditeur.')}}</p>
            <h3>{{ _('Important :')}}</h3>
            <p>{{ _('Il ne faut jamais donner votre adresse ou vos coordonnées à un membre pour le service cadeaux. C’est Yes To Meet You qui se charge de se service sur base des données que vous lui fournissez.')}}</p>
            <p><strong>{{ _('Article 7. Utilisateur')}}</strong></p>
            <p>{{ _('Le site Yes To Meet You est destiné à des utilisateurs majeurs à la recherche de rencontres non vénales.')}}</p>
            <p>{{ _('L’utilisateur est conscient qu’il utilise les services de Yes To Meet You à ses risques et périls. Le site Yes To Meet You n’est pas responsable du contenu publié par les membres.')}}</p>
            <p>{{ _('L’utilisateur s’engage à adopter sur le site Yes To Meet You une attitude en accord avec la philosophie du site. Il s’engage à prendre le temps de découvrir l’autre. Il échange dans le respect et la franchise. L’utilisateur n’aura jamais une attitude harcelante ou dégradante. Tout signalement donnera lieu à des sanctions pouvant aller jusqu’à l’exclusion.')}}</p>
            <p>{{ _('L’utilisateur s’engage à n’utiliser Yes To Meet You que dans le but de faire des rencontres. Il n’utilisera pas le site pour faire de la publicité pour d’autres produits ou services. L’utilisateur ne publiera jamais de liens vers d’autres sites. Il ne fera en aucun cas la promotion de produits ou de services directement concurrents de ceux proposés sur le site. L’utilisateur s’engage également dans son comportement à respecter la législation belge.')}}</p>
            <p>{{ _('L’utilisateur s’engage à n’ouvrir qu’un seul profil. Si plusieurs profils sont découverts pour le même membre, ils pourront être désactivés.')}}</p>
            <p>{{ _('L’utilisateur est responsable de ses propos. Il s’engage à ne pas publier de contenu (textes, photos, vidéos…) illégal, moralement choquant, ouvertement sexuel, raciste ou agressif. L’utilisateur ne tiendra pas de propos dénigrants envers d’autres personnes.')}}</p>
            <p>{{ _('L’utilisateur veillera à préserver sa vie privée. Il ne fournira pas aux autres membres des informations personnelles le concernant. (Adresse, numéro de téléphone, e-mail…)')}}</p>
            <p>{{ _('L’utilisateur s ‘engage à être sincère dans ses déclarations et à ne pas créer de faux profils. Il s’engage à ne pas créer un profil du sexe opposé au sien.')}}</p>
            <p><strong>{{ _('Article 8. Responsabilité')}}</strong></p>
            <p>{{ _('Yes To Meet You dans le processus de vente à distance, n’est tenu que par une obligation de moyens. Sa responsabilité ne pourra être engagée pour un dommage résultant de l’utilisation du réseau Internet tel que perte de données, intrusion, virus, rupture du service, ou autres problèmes involontaires.')}}</p>
            <p><strong>{{ _('Article 9. Propriété intellectuelle')}}</strong></p>
            <p>{{ _('Tous les éléments du site Yes To Meet You sont et restent la propriété intellectuelle et exclusive du site. Personne n’est autorisé à reproduire, exploiter, ou utiliser à quelque titre que ce soit, même partiellement, des éléments du site qu’ils soient sous forme de photo, logo, visuel, texte ou concepts.')}}</p>
            <p><strong>{{ _('Article 10. Données personnelles')}}</strong></p>
            <p>{{ _('Yes To Meet You s\'engage à préserver la confidentialité des informations fournies par les membres. L’e-mail que vous fournissez lors de votre inscription n’est pas visible des autres membres. Toute information les concernant est soumise aux dispositions légales du droit belge. A ce titre, l\'internaute dispose d\'un droit d\'accès, de modification et de suppression des informations le concernant. Il peut en faire la demande à tout moment par courrier à l’adresse suivante : info@yestomeetyou.com')}}</p>
            <p><strong>{{ _('Article 11. Expression publique')}}</strong></p>
            <p>{{ _('Yes To Meet You dispose d’espaces d’expression publique. Les règle dans ces espaces sont les mêmes que dans le reste du site. L’utilisateur veillera à avoir un comportement socialement admis comme dans la vie réelle.')}}</p>
            <p>{{ _('Yes To Meet You exerce un travail de modération. Tout contenu jugé illégal, choquant ou dégradant sera supprimé dès que le site l’aura constaté ou qu’il en aura été informé par un membre.')}}</p>
            <p>{{ _('Le site Yes To Meet You ne peut être considéré comme responsable du contenu publié par ses membres.')}}</p>
            <p>{{ _('L’utilisateur est responsable de ses actes et de ses propos. Il s’engage à ne pas publier de contenu (textes, photos, vidéos…) illégal, moralement choquant, ouvertement sexuel, raciste ou agressif. L’utilisateur ne tiendra pas de propos dénigrants envers d’autres personnes.')}}</p>
            <p>{{ _('L’utilisateur s’engage à ne pas jouer un rôle de parasite dans les espaces d’expression publique. Par exemple en publiant des contenus répétitifs, hors sujet, dérangeants, insultants…')}}</p>
            <p>{{ _('L’utilisateur s’engage à ne publier que du contenu dont il détient les droits. Il ne publiera pas de contenu en infraction avec la législation sur le droit d’auteur.')}}</p>
            <p>{{ _('L’utilisateur ne fera pas de publicité pour des produits ou services extérieurs et s’engage à ne jamais publier de liens vers d’autres sites.')}}</p>
            <p>{{ _('L’utilisateur s’engage à publier dans une langue compréhensible pour les modérateurs et contrôlable.')}}</p>
            <p>{{ _('L’utilisateur est conscient que les publications dans les espaces d’expression publique peuvent être perdues, supprimées, transformées ou dégradées.')}}</p>
            <p><strong>{{ _('Article 12. Règlement des litiges')}}</strong></p>
            <p>{{ _('Les présentes conditions générales sont soumises à la loi belge.')}}</p>
        </p>
    </article>

{% endblock %}