{% from 'macros/_render_input.html' import render_input %}
{% extends 'layout.html' %}

{% block content %}
    <section class="hero">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
          <h3 class="title has-text-grey">{{ _('Changer le mot de passe')}}</h3>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
              <div class="notification is-danger">
                <button class="delete"></button>
                {{ message }}
              </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          <div class="box">
            <form method="POST" action="">
              {{ form.csrf_token }}
              {{ render_input(form.password) }}
              {{ render_input(form.confirm) }}

              <div class="field">
                <button type="submit" class="button">{{ _('Changer le mot de passe')}}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}