{% extends 'layout.html' %}

{% block title %}Changer mots de passe{% endblock %}
{% block content %}

  <div class="container">
    <div class="column is-4 is-offset-4">
      <h3 class="title has-text-grey">{{ _('Changer mots de passe')}}</h3>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
          <div class="notification is-danger">
            <button class="delete"></button>
            {{ message }}
          </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <div class="box">
        <form action="{{url_for('user.update_password')}}" method="POST">
          {{ form.csrf_token }}

          <div class="field">
            {{ form.current_password.label(class='label') }}
            {{ form.current_password(class='input') }}
            {% for error in form.current_password.errors %}
              <p class="help is-danger">{{ error }}</p>
            {% endfor %}
          </div>

          <div class="field">
            {{ form.password.label(class='label') }}
            {{ form.password(class='input') }}
            {% for error in form.password.errors %}
              <span class="help is-danger">{{ error }}</span>
            {% endfor %}
          </div>

          <div class="field">
            {{ form.confirm.label(class='label') }}
            {{ form.confirm(class='input') }}
            {% for error in form.confirm.errors %}
              <span class="help is-danger">{{ error }}</span>
            {% endfor %}
          </div>

          <div class="field">
            <button type="submit" class="button">{{ _('Changer mots de passe')}}</button>
          </div>
          
        </form>
      </div>
    </div>
  </div>

{% endblock %}